
.container {
  min-width: 300px;
  background-color: rgba(30, 30, 30, 0.9) !important; 
  color: white !important;
  border: none;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(1px);
}

.title {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  color: #d8d8d8;
  font-weight: bold;
}

.field-style {
  display: flex;
  align-items: center;
  color: #d8d8d8;
  margin-bottom: 6px;
  font-weight: lighter;
}
